<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.gitTest.DAO.ConfDAO">
	<insert id="insertConf_mng" parameterType="Conf_mng">
		insert into conf_mng
		(
		conf_num, employee_nums, title, writer, conf_date
		<if test="originalfile != null and savedfile != null" >
		,originalfile, savedfile
		</if> 
		)
		values
		(
		conf_num_seq.nextval, #{employee_nums}, #{title}, #{writer}, #{conf_date}
		<if test="originalfile != null and savedfile != null" >
		, #{originalfile}, #{savedfile}
		</if>
		)
	</insert>
	
	<insert id="insertConf_topic" parameterType="Conf_topic">
		insert into conf_topic
		(
		subtitle_id, subtitle, conf_num
		)
		values
		(
		subtitle_id_seq.nextval, #{subtitle}, #{conf_num}
		)
	</insert>
	
	<update id="updateConf_mng" parameterType="Conf_mng">
		update conf_mng set
		employee_nums = #{employee_nums}
		, title = #{title}
		, conf_date = #{conf_date}
		<if test="originalfile != null and savedfile != null" >
		, originalfile = #{originalfile}
		, savedfile = #{savedfile}
		</if>
		where conf_num = #{conf_num}
	</update>
	
	<update id="updateConf_topic" parameterType="Conf_topic">
		update conf_topic set
		subtitle = #{subtitle}
		, employee_num = #{employee_num}
		, process = #{process}
		where subtitle_id = #{subtitle_id}
	</update>
	
	<update id="deleteConf" parameterType="int">
		update conf_mng set
		deletecheck = 1
		where conf_num = #{conf_num}
	</update>
	
	<select id="selectConf" parameterType="int" resultType="Conf_mng">
	select * from conf_mng
	where conf_num = #{conf_num}
	</select>
	
	<select id="selectConf_topic" parameterType="int" resultType="Conf_topic">
	select * from Conf_topic
	where conf_num = #{conf_num}
	order by subtitle_id
	</select>
	
	<select id="calendarMyList" parameterType="String" resultType="Conf_mng">
		select title, conf_date, conf_num, employee_nums
		from conf_mng 
		where deleteCheck = 0 and employee_nums like '%'||#{employee_num}||'%'
	</select>
	
	<select id="getTotal" resultType="int" parameterType="map">
		select count(*) 
		from (select con.*, cmm.conf_date, cmm.todate, cmm.employee_nums, cmm.title, cmm.writer
		from (select rownum rnum, n.* 
		from (select distinct conf_num
		from (select * 
		from (select cm.*, ct.subtitle_id, ct.subtitle, ct.employee_num
		from (select *
		from conf_mng 
		where deleteCheck = 0) cm, conf_topic ct 
		where cm.conf_num=ct.conf_num) conf 
		<if test="searchTitle != null and searchText != null">
			<choose>
				<when test="searchTitle == 'title'">
					where title like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'subtitle'">
					where subtitle like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'employee_nums'">
					where employee_nums like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'employee_num'">
					where employee_num = #{searchText}
				</when>
			</choose>
		</if>
		) order by conf_num desc)n )con, conf_mng cmm
		where con.conf_num = cmm.conf_num
		order by cmm.todate desc)
	</select>
	
	<select id="confList" resultType="conf_mng" parameterType="map">
		select con.*, cmm.conf_date, cmm.todate, cmm.employee_nums, cmm.title, cmm.writer
		from (select rownum rnum, n.* 
		from (select distinct conf_num
		from (select * 
		from (select cm.*, ct.subtitle_id, ct.subtitle, ct.employee_num
		from (select *
		from conf_mng 
		where deleteCheck = 0) cm, conf_topic ct 
		where cm.conf_num=ct.conf_num) conf 
		<if test="searchTitle != null and searchText != null">
			<choose>
				<when test="searchTitle == 'title'">
					where title like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'subtitle'">
					where subtitle like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'employee_nums'">
					where employee_nums like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'employee_num'">
					where employee_num = #{searchText}
				</when>
			</choose>
		</if>
		) order by conf_num desc)n )con, conf_mng cmm
		where con.conf_num = cmm.conf_num
		and rnum between #{firstnum} and #{endnum}
		order by cmm.todate desc
	</select>
	
	<select id="selectInsert" parameterType="Conf_mng" resultType="int">
	select max(conf_num) as conf_num from conf_mng
	</select>
	
	<update id="insertTextFile" parameterType="Conf_mng">
		update conf_mng set
		originalfile = #{originalfile}, savedfile = #{savedfile}
		where conf_num = #{conf_num}
	</update>
	
	<select id="countDown" parameterType="String" resultType="Conf_mng">
		select * from conf_mng 
		where deletecheck='0' 
		and conf_date = 
		(select min(conf_date) 
		from (select * 
		from conf_mng 
		where DELETECHECK='0'
		and employee_nums like '%'||#{searchText}||'%')
		where conf_date - sysdate > 0)
	</select>
</mapper>
