<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.gitTest.DAO.MemberDAO">
	<!-- 회원등록 -->
	<insert id="insertMember" parameterType="Member">
		insert into e_member 
		(
			employee_num, password,name,email,language,phone,dept_id,job_id
		)
		values
		(
			#{employee_num},#{password},#{name},#{email},#{language},#{phone},#{dept_id},#{job_id}
		)
	</insert>
	
	<!-- 회원정보 업데이트 -->
	<update id="updateMember" parameterType="Member" >
      update e_member set password=#{password}, email=#{email}, language=#{language}, phone=#{phone}
   </update>
   
   <!-- (로그인) 1명 선택하기 -->
   <select id="selectOne" resultType="Member">
   		select * from e_member where employee_num=#{param1}
   </select>
	
	<!-- jobList 받기 -->
	<select id="jobList" resultType="JobList">
		select * from e_position order by job_id
	</select>
	
	<!-- DeptList 받기 -->
	<select id="deptList" resultType="DeptList">
		select * from e_dept order by dept_id
	</select>
	
	
	
</mapper>
