<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.gitTest.DAO.TeamDAO">
   
   <!-- 자신의 매니저의 정보 가져오기 -->
   <select id="getManager" resultType="Member">
   		select * from e_member where employee_num=#{param1}
   </select>
   
   <!-- 매니저넘버가 ~~인 사원들의 리스트 가져오기 -->
   <select id="getMembers" resultType="HashMap">
   		select m.name, d.dept_name, p.job_name, t.process, t.subtitle, c.title from e_member m, e_dept d, e_position p, conf_topic t, conf_mng c where d.dept_id = #{param1} and m.job_id = p.job_id and m.employee_num = t.employee_num and t.conf_num = c.conf_num order by m.job_id
   </select>
   
   <select id="" resultType="HashMap">
   		select d.dept_name, count(subtitle_id) count from conf_topic t, e_member m, e_dept d where t.employee_num = m.employee_num and m.dept_id = d.dept_id and t.process = 100 group by d.dept_name
   </select>
	
</mapper>