<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 타입 별칭 설정 -->
	<typeAliases>
		<typeAlias type="global.sesoc.gitTest.vo.Conf_mng" alias="Conf_mng" />
		<typeAlias type="global.sesoc.gitTest.vo.Conf_topic" alias="Conf_topic" />
		<typeAlias type="global.sesoc.gitTest.vo.Member" alias="Member" />
		<typeAlias type="global.sesoc.gitTest.vo.DeptList" alias="DeptList" />
		<typeAlias type="global.sesoc.gitTest.vo.JobList" alias="JobList" />
		<typeAlias type="global.sesoc.gitTest.vo.Message" alias="Message" />
	</typeAliases>
	
	<!-- 매퍼 파일 위치 설정 -->
	<mappers>
    	<mapper resource="mappers/confMapper.xml"/>
    	<mapper resource="mappers/MemberMapper.xml"/>
    	<mapper resource="mappers/MessageMapper.xml"/>
    	<mapper resource="mappers/teamMapper.xml"/>
	</mappers>
	
</configuration>